<title>Create a New Forum Reply</title>
<div class="container spacer">
  <h2>Post a reply to a forum topic!</h2>
  <% @forum_posts.each do |post|%>
    <% if post.id.to_s == params[:id].to_s%>
      <table class="container forums mini-spacer">
        <tr class="forum-post">
          <td class="forum-topic"><h4><strong><%= post.topic %></strong></h4></td>
        </tr>
        <tr class="forum-post">
          <td> <%= post.content %></td>
        </tr>
        <tr class="forum-post">
          <td class="time-stamper"> posted by <strong><%= User.where(id: post.user_id).pluck(:name).join %></strong> at <%= post.created_at %></td>
        </tr>
        <tr>
          <td><%# spacing do not remove%></td>
        </tr>
        <% @forum_replies.each do |reply| %>
          <% if post.id == reply.forum_post_id%>
            <tr class="forum-reply">
              <td><%# spacing do not remove%></td>
            </tr>
            <tr class="forum-reply">
              <td><%= reply.content %></td>
            </tr>
            <tr class="forum-reply">
              <td class="time-stamper">reply posted by <strong><%= User.where(id: reply.user_id).pluck(:name).join %></strong> at <%= reply.created_at %></td>
            </tr>
          <% end %>
        <% end %>
        <tr class="forum-reply-link">
          <td></td>
        </tr>
      </table>
    <% end %>
  <% end %>

  <div class="row spacer">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@forum_reply, url: '/new_forum_reply/' + params[:id].to_s) do |f| %>
        <div class="field">
          <%= f.label :content, "Enter your reply..." %>
          <%= f.text_area :content, :placeholder=>'Enter the details of the post' ,:class=>'form-control',:cols=>10,:rows=>10 %>
          <%= display_forum_reply_error(:content) %>
        </div>
        <%= f.submit "Post to forums", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
 </div> 