<title>Forums</title>
<h2>Forums</h2>

<table class="container forums mini-spacer">
  <% @forum_posts.each do |post|%>
    <tr>
      <td><%= post.topic %></td>
    </tr>
    <tr>
      <td> <%= post.content %></td>
    </tr>
    <tr>
      <td> posted by <%= User.where(id: post.user_id).pluck(:name).join %> at <%= post.created_at %></td>
    </tr>
  <% end %>
</table>
<h4 class="spacer"><%= link_to "Add a new post", new_forum_post_path, :class=>"btn btn-primary"%></h4>