<title>Forums</title>
<h2>Forums</h2>

<% @forum_posts.each do |post|%>
  <table class="container forums mini-spacer">
    <tr>
      <td><%= post.topic %></td>
    </tr>
    <tr>
      <td> <%= post.content %></td>
    </tr>
    <tr>
      <td> posted by <%= User.where(id: post.user_id).pluck(:name).join %> at <%= post.created_at %></td>
    </tr>
    <tr>
      <td><%= link_to "View Replies", new_forum_reply_path(id: post.id), class: "btn btn-primary" %></td>
    </tr>
  <% @forum_replies.each do |reply| %>
    <% if post.id == reply.forum_post_id%>
      <tr>
        <td></td>
        <td><%= reply.content %></td>
      </tr>
      <tr>
        <td></td>
        <td>posted by <%= User.where(id: reply.user_id).pluck(:name).join %> at <%= reply.created_at %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
<% end %>
<h4 class="spacer"><%= link_to "Add a new post", new_forum_post_path, :class=>"btn btn-primary"%></h4>