<head>
 <meta name="turbolinks-visit-control" content="reload">
</head>
<title>My Cars</title>
<table class="container">
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
          <td><%= car.year %></td>
          <td><%= car.make %></td>
          <td><%= car.model %></td>
          <td><%= car.car_name %></td>
          <td><%= link_to "Add a New Fuel Log", '/new_fuel_log/' + car.id.to_s, class: "btn btn-primary"  %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a class="btn btn-primary mini-spacer" href="/new_car" target="_self">Add a New Car!</a></td>
    </tr>
  </tbody>
</table>
