<head>
  <!-- script for CarQueryAPI-->
  <script type="text/javascript" src="http://www.carqueryapi.com/js/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
  <script>
    $(document).ready(
      function(){
      //Create a variable for the CarQuery object.  You can call it whatever you like.
      var carquery = new CarQuery();

      //Run the carquery init function to get things started:
      carquery.init();

      //Optional: Pass sold_in_us:true to the setFilters method to show only US models. 
      carquery.setFilters( {sold_in_us:true} );

      //Optional: initialize the year, make, model, and trim drop downs by providing their element IDs
      carquery.initYearMakeModelTrim('car-years', 'car-makes', 'car-models', 'car-model-trims');

      //Optional: initialize the make, model, trim lists by providing their element IDs.
      carquery.initMakeModelTrimList('make-list', 'model-list', 'trim-list', 'trim-data-list');
      });
  </script>
</head>

<title>Add a New Car</title>
<div class="spacer">
  <h1>Add a New Car</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@car, url: new_car_path) do |f| %>
        <div class="field">
          <%= f.label :year %>
          <%= f.select :year,{},{}, {name: "year",id: "car-years" ,:class=>'form-control'} %>
        </div>
        <div class="field">
          <%= f.label :make %>
          <%= f.select :make,{}, {},{name:"make", id: "car-makes",:class=>'form-control'}  %>
          <!-- DO NOT DELETE: kept for legacy purposes <%= f.text_field :make, class: 'form-control' %>-->
        </div>
        <div class="field">
          <%= f.label :model %>
          <%= f.select :model,{}, {}, {name:"model" ,id: "car-models",:class=>'form-control' } %>
        </div>
        <div class="field">
          <%= f.label :trim %>
          <%= f.select :trim,{}, {}, {name:"trim" ,id: "car-model-trims" ,:class=>'form-control'} %>
        </div>
        <div class="actions">
          <%= f.submit "Add Car", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>