<title>My Fuel Logs</title>
<%# debug%>
<%#= current_user.id; params[:id]%>
<div class="background-box">
  <% if current_user.id.to_s == params[:id].to_s %>
    <h2><strong>Fuel Logs: </strong></h2>
  <% end %>
  <% if current_user.id.to_s != params[:id].to_s %>
    <h2><strong>Viewing <%= User.where(id: params[:id]).pluck(:name).join%>'s Fuel Logs  </strong></h2>
  <% end %>
  <table>
    <tbody>
      <% num_logs=0 %>
      <% @cars.each do |car| %>
        <%# variables %>
        <% spent = 0%>
        <% name=""%>
        <% count = 0 %>
        <% first_distance = 0.0%>
        <% distance = 0.0%>
        <% litres = 0.0%>
          <% @fuel_logs.each do |fuel_log| %>
            <tr>
              <% if fuel_log.car_id == car.id%>
                <% if count == 0%>
                  <tr>
                    <%# get name first%>
                    <% name = Car.where(id: fuel_log.car_id).pluck(:car_name).join%>
                    <td><h3><%= Car.where(id: fuel_log.car_id).pluck(:car_name).join %></h3></td>
                    <td colspan="3">
                      <h3><%= Car.where(id: fuel_log.car_id).pluck(:year).join %>
                      <%= Car.where(id: fuel_log.car_id).pluck(:make).join %>
                      <%= Car.where(id: fuel_log.car_id).pluck(:model).join %></h3>
                    </td>
                  </tr>
                  <tr>
                    <th>Log Number</th>
                    <th>Fuel Type</th>
                    <th>Gas Price (Price per Litre)</th>
                    <th>Price Paid</th>
                    <th>Odometer at Fill Up (km)</th>
                    <th colspan="3"></th>
                  </tr>
                <% end %>
                <td><%=1+count%></td>
                <td><%= fuel_log.fueltype %></td>
                <td><%= fuel_log.gasprice %></td>
                <td><%= fuel_log.price %></td>
                <td><%= fuel_log.mileage %></td>
                <td>
                  <% if fuel_log.user_id == current_user.id%>
                    <%= link_to "Delete Fuel Log",'/delete_fuel_log/'+fuel_log.id.to_s,method: :get, class:"btn btn-primary", data: {confirm: "Are you sure you want to delete this log?"}%>
                  <% end %>          
                </td>
                <%# calculations%>
                <% if count == 0%>
                  <% first_distance = fuel_log.mileage.to_f%>
                <% else%>
                  <% litres+= (fuel_log.price.to_f / fuel_log.gasprice.to_f)*100%>
                  <% distance=fuel_log.mileage.to_f%>
                <% end %>
                <% spent += fuel_log.price.to_f %>
                <% count+=1 %>
                <% num_logs+=1 %>
              <% end %>    
            </tr>
          <% end %>
          <% if count > 1%>
            <tr>
              <th colspan="2"><h4><strong><u>Emissions Calculations for <%= name%>:</u></strong></h4></th>
            </tr>
            <tr>
              <th> Total Amount Spent</th>
              <th>Total Litres Bought</th>
              <th>Total Distance Travelled</th>
              <th>Average Fuel Consumption</th>
              <th>Fuel Manufacturing</th>
              <th>Fuel Combustion</th>
              <th>Fuel Production</th>
            </tr>
            <tr>
              <%# precalculation%>
              <% distance_travelled = distance - first_distance%>
              <td>$ <%= spent.round(3) %></td>
              <td><%= litres.round(3) %> L</td>
              <td><%= distance_travelled.round(3)%> km</td>
              <td><%= ((litres/distance_travelled)*100).round(3)%> L/100km</td>
              <td><strong>32</strong> g CO<sub>2</sub> e/km</td>
              <td><%= (2.33*(litres/distance_travelled)).round(3)%> kg CO<sub>2</sub> e/km</td>
              <td><%=  (0.43*(litres/distance_travelled)).round(3)%> kg CO<sub>2</sub> e/km</td>
            </tr>
          <% end %>
          <tr><td><!-- spacer--><td></tr>
          <tr><td><!-- spacer--><td></tr>
          <tr><td><!-- spacer--><td></tr>
      <% end %>
      <% if num_logs == 0 && current_user.id.to_s == params[:id].to_s %>
        <tr>
          <td><h4>No fuel logs recorded. Please visit My Cars to make a new fuel log or 
                <a class="btn btn-primary" href="/new_car" target="_self">Add a New Car!</a>
              </h4>
          </td>
        </tr>
      <% elsif num_logs == 0 && current_user.id.to_s != params[:id].to_s%>
        <tr>
          <td><h4> <%= User.where(id: params[:id]).pluck(:name).join%> has no fuel logs recorded. </h4></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="spacer">
    <h2><strong><u>Disclaimer:</u></strong></h2>
    <div class="mini-spacer"></div>
    <% if current_user.id.to_s == params[:id].to_s %>
      <h4> <strong> If you do not see a fuel log for your car, please visit <%= link_to "My Cars", cars_path , :class=>"btn btn-primary"%> to add a fuel log</strong></h4>
    <% end %>
    <h4> <strong>Fuel log calculations are done with at least 2 prior entries </strong></h4>
    
    <h4> <strong>Fuel Manufacturing</strong> is assumed to be a constant figure representing
    the carbon output for materials, machineries, factories, etc. from manufacturing a car. It is based
    on the manufacturing footprint of 8 tons CO<sub>2</sub> e per vehicle and the average lifetime vehicle mileage
    of 250,000km. This is only an estimate based on the statistical data from the Environmental Protection Agency (see below).</h4>
    <h4><strong>Fuel Combustion</strong> is the emissions from your tailpipe which is a measure of how much carbon
     emissions your car produces. In other words, it is the carbon footprint of your vehicle as it is calculated 
     directly from your fuel consumption. Note: we assume the emissions factor is 2.33 kg CO<sub>2</sub> e/litre. 
     This factor can change, but for our purpose, this is a good estimate.</h4>
    <h4><strong>Fuel Production</strong> is the emissions from the production of gasoline, namely the emissions from
     refinement, extraction, transportation, maintenance, and development of crude oil into gasoline. Although this measurement
     is an external measurement, we can still consider it as vital part of the carbon footprint calculation. It provides
     a comprehensive insight to our carbon footprint.</h4>
    <div class="mini-spacer"></div>
    <h4><strong> For more information, please visit: </strong></h4>
    <ul>
      <li><h5><a target="_blank" class="img-link" href="http://shrinkthatfootprint.com/calculate-your-driving-emissions"><strong>ShrinkThatFootprint</strong></a></li>
      <li>  <h5>
              <a target="_blank" class="img-link" href="https://www.epa.gov/greenvehicles">
                <img class="img-link" height="75" width="75" src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Logo_of_the_United_States_Environmental_Protection_Agency.svg" alt="EPA">
                <strong> Environmental Protection Agency</strong>
              </a>
            </h5>
      </li>
    </ul>
  </div>
</div>
