<title>Add a New Fuel Log</title>
<div class="background-box">
  <div>
    <h1>Add a New Fuel Log</h1>
  
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@fuel_log, url: '/new_fuel_log/' + @car.id.to_s) do |f| %>
          <div class="field">
            <%= f.label :fueltype, "Fuel Type" %>
            <%= f.select :fueltype, options_for_select( ["Diesel", "Regular","Midgrade","Premium","Other"]),{},:class=>'form-control' %>
            <%= display_log_error(:fueltype) %>
          </div>
          <div class="field">
            <%= f.label :gasprice, "Gas Price" %>
            <%= f.text_field :gasprice, :placeholder=>'Please enter the (cents) price per litre at time of fill up' ,:class=>'form-control' %>
            <%= display_log_error(:gasprice) %>
          </div>
          <div class="field">
            <%= f.label :price, "Price Paid" %>
            <%= f.text_field :price,:placeholder=>'Please enter the total amount paid at time of fill up',:class=>'form-control' %>
            <%= display_log_error(:price) %>
          </div>
          <div class="field">
            <%= f.label :mileage , "Odometer" %>
            <%= f.text_field :mileage ,:placeholder=>'Please enter the current odometer at the time of fill up in kilometers',:class=>'form-control'%>
            <%= display_log_error(:mileage) %>
          </div>
          <div class="field">
            <%= f.label :car_id%>
            <%= f.text_field(:car_id ,:value=>Car.where(user_id: current_user.id, id: @car.id).pluck(:car_name),:class=>'form-control',:readonly=>true )%>
          </div>
            <%= f.submit "Add Fuel Log", class: "btn btn-primary" %>
        
        <% end %>
      </div>
    </div>
  </div>
</div>
