<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- most chromium base browsers and firefox -->
    <link rel="icon" href="/assets/favicon.png" type="image/png"/>
    <!-- ie10 or lower-->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
    <!-- safari -->
    <link rel="apple-touch-icon" href="/assets/favicon.png" type="image/png"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      <%= link_to image_tag("logo.png",size:"800x100") , root_path, id: "logo" , :class=>'banner'%>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><%= link_to "Home",  root_path , :class=>"nav-entry"%></li>
            <% if logged_in? %>
              <li class="nav-item"><%= link_to "Forums", forum_posts_path, :class=>"nav-entry"%>
              <li class="nav-item"><%= link_to "Search", search_path,:class=>"nav-entry"%>
              <li class="nav-item"><%= link_to "My Fuel Logs",  fuel_logs_path(id: current_user.id), :class=>"nav-entry"%>
              <li class="nav-item"><%= link_to "My Cars", cars_path , :class=>"nav-entry"%></li> 
              <li class="nav-item"><%= link_to "About Us", about_path,:class=>"nav-entry"%></li>
              <li class="nav-item"><%= link_to "Log Out", logout_path, method: :delete , :class=>"nav-entry"%></li>
            <% else %> 
              <li class="nav-item"><%= link_to "About Us", about_path,:class=>"nav-entry"%></li>
              <li class="nav-item"><%= link_to "Log In", login_path, :class=>"nav-entry" %></li>
            <% end %>  
          </ul>
        </nav>
      </div>
    </header>
    <div class="banner-spacer">
      <div class="greetings">
        <% if logged_in? %>
          <p>Welcome, <%= User.where(id: current_user.id).pluck(:name).join%>!</p>
        <% end %>
      </div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%#= debug(params) if Rails.env.development? %>
      </div>
    </div>
    <footer class="footer-spacer">
      <table class="bot">
        <tr>
          <td class="left"><h5><a class="clickable" href="/terms_read">Terms of Service</a></h5></td>
          <td><h4> &copy; 2019 Emission Revision</h4></td>
          <td class="right"><h5><a class="clickable" href="/privacy_read">Privacy Policy</a></h5></td>
        </tr>
      </table>
    </footer>
  </body>
</html>
